* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 95vh;
    position: relative;
    background: radial-gradient(#5f5f61,#5f5f61,#3d393a);
    clip-path: polygon(100% 0, 100% 80%, 85% 100%, 0 100%, 0 0);
}

.logo-box {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.text-box {
    height: 50vh;
    width: 65vw;
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-100%, -50%);
    text-align: center;
    padding-top: 30px;
}

.heading-primary {
    color: #eee;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.heading-primary-main {
    display: block;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 3.2px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.developer-box {
    height: 90%;
}

img.developer {
    height: 380px;
    animation: moveInBottom 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.bulb-box {
    position: absolute;
    top: 0;
    left: 30%;
    width: 25vw;
    height: 60vh;
}

.bulb {
    display: block;
    width: 190px;
    height: 60vh;
    position: absolute;
    top: 0;
    background: url("../img/bulb-off.png") no-repeat top;
    background-size: contain;
}

.bulb:hover {
    content: "";
    background: url("../img/bulb-on.png") no-repeat top;
    background-size: contain
}